@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;

}

h1 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

    border: 3px solid rgb(53, 53, 53);
    box-shadow: -5px 5px 10px rgb(53, 53, 53);
}

.input-box {
    width: 95%;
    background-color: rgb(92 178 154);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-box label {
    padding: 5px;
    text-align: center;
    color: white;
    width: 50%;
}
.input-box input, .input-box select {
    width: 50%;
    text-align: center;
    margin: 3px;
    border-right: 1.5px solid rgb(175, 175, 175);
    border-bottom: 1.5px solid rgb(175, 175, 175);
}
.output {
    background-color: white;
    border: 2px solid rgb(53, 53, 53);
}
.vertical {
    flex-wrap: wrap;
    padding: 5px;
}
.vertical label {
    width: 100%;
}
.vertical input,  .input-box select {
    width: 100%;
}
.vertical span {
    color: white;
}

button {
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
    
    background-color: rgb(92 178 154);
    color: white;
    border: none;
    box-shadow: 3px 3px 1px rgb(46, 88, 76);
    cursor: pointer;
}
button:hover {
    background-color: rgb(77 204 167);
}
button:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 1px rgb(46, 88, 76);
}

#result {
    background-color: aliceblue;
    width: 90%;
    min-height: 54px;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 10px;

    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

figure img {
    width: 100%;
}

